<div class="container-fluid">
  <div class="row">
    <div class="col-2 px-0 ">
      <div class="menu flex-column nav py-4 px-4 justify-content-between position-fixed">
        <div class="">
          <a class="navbar-brand" href="#">
            <p class="font-title-small fw-bolder fst-italic">Conexia</p>
          </a>
          <a class="nav-link active px-2 py-2 rounded-pill d-flex align-items-center  mb-3" aria-current="page"
            href="/feed">
            <div class="d-flex justify-content-center align-items-center rounded-circle icon mx-2">
              <i class="bi bi-house-door-fill"></i>
            </div>
            <span>Início</span>
          </a>
          <a class="nav-link px-2 py-2 rounded-pill d-flex align-items-center menu-item mb-3" href="/search">
            <div class="d-flex justify-content-center align-items-center rounded-circle icon mx-2">
              <i class="bi bi-search"></i>
            </div>
            <span>Busca</span>
          </a>
          <a class="nav-link px-2 py-2 rounded-pill d-flex align-items-center menu-item mb-3" href="/notification">
            <div class="d-flex justify-content-center align-items-center rounded-circle icon mx-2">
              <i class="bi bi-bell-fill"></i>
            </div>
            <span>Notificações</span>
          </a>
          <a class="nav-link px-2 py-2 rounded-pill d-flex align-items-center menu-item mb-3" href="/perfil">
            <div class="d-flex justify-content-center align-items-center rounded-circle icon mx-2">
              <img src="../../../assets/avatar.png" class="rounded-circle" alt="Imagem Perfil" />
            </div>
            <span>Voce</span>
          </a>
        </div>
        <div class="d-flex justify-content-center ">
          <a class="nav-link px-2 py-2 rounded-pill d-flex align-items-center   font-body-small fw-bolder" href="#"
            style="gap:10px">
            <i class="bi bi-box-arrow-right"></i>
            <span class="">Sair</span>
          </a>
        </div>
      </div>
    </div>



    <div class="col-8">

      <div class="container d-flex  flex-column align-items-center pb-4  ">
        <div class="capa w-50 py-4 d-flex flex-column align-items-center position-relative mb-5">
          <div class="avatar">
            <img src="../../../assets/avatar3.png" alt="" class="profile-image" />
          </div>
          <p class="font-body-medium fw-bold my-1 ">Luiza Senna</p>
          <div style="gap:15px" class="d-flex">
            <span class="font-body-xsmall label">24 Anos</span>
            <span class="font-body-xsmall label">Eunápolis-BA</span>
          </div>
          <button class="btn bg-white border-custom rounded-pill font-body-xsmall fw-bolder position-absolute"
            style="bottom: -20px">
            <i class="bi bi-pencil-fill"></i>
            Editar Perfil
          </button>
        </div>
        <ul class="nav justify-content-cente mb-4">
          <li class="nav-item" class="fw-bold font-body-small">
            <a class="nav-link active" aria-current="page" href="#">Publicações</a>
          </li>
          <li class="nav-item" class="font-body-small">
            <a class="nav-link" href="#">Seguindo</a>
          </li>
          <li class="nav-item" class=" font-body-small">
            <a class="nav-link" href="#">Seguidores</a>
          </li>

        </ul>
        <form class="p-3 bg-white card-post form-group w-50 mb-4">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
            placeholder="O que está acontecendo?"></textarea>
          <p class="font-body-xxsmall mt-2">0 de 300 caracteres usados.</p>

          <button class="btn  bg-white border-custom rounded-pill font-body-xsmall fw-bolder w-100 mb-3">
            <i class="bi bi-plus-lg"></i>
            <span class="mx-3">Escolher Foto</span>
          </button>
          <button class="btn  rounded-pill font-body-xsmall fw-bolder w-100 text-muted border bg-light disabled">
            Publicar
          </button>
        </form>

        <div class="card-post p-3 bg-white card-post form-group w-50 mb-4">
          <div class="d-flex align-items-center mb-2">
            <div class="d-flex justify-content-center align-items-center rounded-circle icon mx-2">
              <img src="../../../assets/avatar.png" class="rounded-circle" alt="Imagem Perfil" width="30px" />
            </div>
            <span class="font-body-small fw-bold">Luana Santana</span>
          </div>
          <img src="../../../assets/card.png " class="rounded w-100 mb-2 border border-secondary" alt="Imagem Perfil" />
          <p class="font-body-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tristique est
            risus, at suscipit tellus
            commodo in.</p>
          <a class="font-body-xsmall fw-bold " style="text-decoration: underline;">Ver todos os 24 comentários</a>
          <div class="form-control rounded-pill px-1  mt-3 justify-content-between">
            <input type="text" class="font-body-small no-focus-outline" id="exampleInputEmail1"
              aria-describedby="emailHelp" placeholder="Comente">
            <i class="bi bi-send-fill" style="color:#BACAFF"></i>
          </div>
        </div>

        <div class="card-post p-3 bg-white card-post form-group w-50">
          <div class="d-flex align-items-center mb-2">
            <div class="d-flex justify-content-center align-items-center rounded-circle icon mx-2">
              <img src="../../../assets/avatar.png" class="rounded-circle" alt="Imagem Perfil" width="30px" />
            </div>
            <span class="font-body-small fw-bold">Luana Santana</span>
          </div>

          <p class="font-body-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tristique est
            risus, at suscipit tellus
            commodo in.</p>
          <a class="font-body-xsmall fw-bold " style="text-decoration: underline;">Ver todos os 24 comentários</a>
          <div class="form-control rounded-pill px-1  mt-3 justify-content-between">
            <input type="text" class="font-body-small no-focus-outline" id="exampleInputEmail1"
              aria-describedby="emailHelp" placeholder="Comente">
            <i class="bi bi-send-fill" style="color:#BACAFF"></i>
          </div>
        </div>
      </div>


    </div>


    <div class="col-2 px-0">
      <div class="menu flex-column nav py-4 px-4 position-fixed">

        <p class="font-body-small">Sugestões de Amizades:</p>

        <div class="mb-3 py-3 border  px-3 card-follow">
          <div class="d-flex align-items-center mb-3">
            <div class=" d-flex justify-content-center align-items-center rounded-circle icon mx-2">
              <img src="../../../assets/avatar.png" class="rounded-circle" alt="Imagem Perfil" />
            </div>
            <span class="font-body-xsmall fw-bolder">Marcos Medeiros</span>
          </div>
          <div class="d-flex justify-content-between ">
            <button class="btn bg-white border-custom rounded-pill font-body-xsmall fw-bolder">Seguir</button>
            <button class="btn bg-white rounded-pill font-body-xsmall fw-bolder">Excluir</button>
          </div>
        </div>

        <div class="mb-3 py-3 border  px-3 card-follow">
          <div class="d-flex align-items-center mb-3">
            <div class=" d-flex justify-content-center align-items-center rounded-circle icon mx-2">
              <img src="../../../assets/avatar.png" class="rounded-circle" alt="Imagem Perfil" />
            </div>
            <span class="font-body-xsmall fw-bolder">Marcos Medeiros</span>
          </div>
          <div class="d-flex justify-content-between ">
            <button class="btn bg-white border-custom rounded-pill font-body-xsmall fw-bolder">Seguir</button>
            <button class="btn bg-white rounded-pill font-body-xsmall fw-bolder">Excluir</button>
          </div>
        </div>

        <div class="mb-3 py-3 border  px-3 card-follow">
          <div class="d-flex align-items-center mb-3">
            <div class=" d-flex justify-content-center align-items-center rounded-circle icon mx-2">
              <img src="../../../assets/avatar.png" class="rounded-circle" alt="Imagem Perfil" />
            </div>
            <span class="font-body-xsmall fw-bolder">Marcos Medeiros</span>
          </div>
          <div class="d-flex justify-content-between ">
            <button class="btn bg-white border-custom rounded-pill font-body-xsmall fw-bolder">Seguir</button>
            <button class="btn bg-white rounded-pill font-body-xsmall fw-bolder">Excluir</button>
          </div>
        </div>

        <div class="mb-3 py-3 border  px-3 card-follow">
          <div class="d-flex align-items-center mb-3">
            <div class=" d-flex justify-content-center align-items-center rounded-circle icon mx-2">
              <img src="../../../assets/avatar.png" class="rounded-circle" alt="Imagem Perfil" />
            </div>
            <span class="font-body-xsmall fw-bolder">Marcos Medeiros</span>
          </div>
          <div class="d-flex justify-content-between ">
            <button class="btn bg-white border-custom rounded-pill font-body-xsmall fw-bolder">Seguir</button>
            <button class="btn bg-white rounded-pill font-body-xsmall fw-bolder">Excluir</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>