<div class="container-fluid">
  <div class="row">
    <div class="col-2 px-0 ">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-8">
      <div class="container d-flex  flex-column align-items-center pb-4  ">
        <div class="capa w-50 py-4 d-flex flex-column align-items-center position-relative mb-5">
          <div class="avatar">
            <img src="../../../assets/avatar3.png" alt="" class="profile-image" />
          </div>
          <p class="font-body-medium fw-bold my-1 ">Luiza Senna</p>
          <div style="gap:15px" class="d-flex">
            <span class="font-body-xsmall label">24 Anos</span>
            <span class="font-body-xsmall label">Eunápolis-BA</span>
          </div>
          <button class="btn bg-white border-custom rounded-pill font-body-xsmall fw-bolder position-absolute"
            style="bottom: -20px">
            <i class="bi bi-pencil-fill"></i>
            Editar Perfil
          </button>
        </div>
        <ul class="nav justify-content-cente mb-4">
          <li class="nav-item" class="fw-bold font-body-small">
            <a class="nav-link active" data-toggle="tab" aria-current="page" href="#">Publicações</a>
          </li>
          <li class="nav-item" class="font-body-small">
            <a class="nav-link" data-toggle="tab" href="#">Seguindo</a>
          </li>
          <li class="nav-item" class=" font-body-small">
            <a class="nav-link" data-toggle="tab" href="#">Seguidores</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="home" class="tab-pane fade in  active show">
            <app-publicacao></app-publicacao>
          </div>
          <div id="menu1" class="tab-pane fade ">
            <app-seguidores></app-seguidores>
          </div>
          <div id="menu2" class="tab-pane fade">
            <app-seguindo></app-seguindo>
          </div>
          <div id="menu3" class="tab-pane fade">
            <h3>Menu 3</h3>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          </div>
        </div>
      </div>
    </div>


    <div class="col-2 px-0">
      <app-sidebar-notification></app-sidebar-notification>
    </div>
  </div>
</div>
