<div class="container-fluid">
  <div class="row">
    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-4 px-0 " style="height: 100vh; overflow: hidden;">
      <app-sidebar-nav></app-sidebar-nav>
    </div>

    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-8 col-sm-8 " style="height: 100vh; overflow:auto">
      <div class="container d-flex flex-column align-items-center pb-4  ">
        <div class="capa py-4 d-flex flex-column align-items-center position-relative mb-5">
          <div class="avatar">
            <img src="../../../assets/avatar3.png" alt="" class="profile-image" />
          </div>
          <p class="font-body-medium fw-bold my-1 ">Luiza Senna</p>
          <div style="gap:15px" class="d-flex">
            <span class="font-body-xsmall label">24 Anos</span>
            <span class="font-body-xsmall label">Eunápolis-BA</span>
          </div>
          <button class="btn bg-white border-custom rounded-pill font-body-xsmall fw-bolder position-absolute"
            style="bottom: -20px">
            <i class="bi bi-pencil-fill"></i>
            Editar Perfil
          </button>
        </div>

        <ul class="nav  mb-4" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" role="tab"
              aria-controls="home" aria-selected="true">Publicação</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" role="tab"
              aria-controls="profile" aria-selected="false">Seguindo</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" role="tab"
              aria-controls="contact" aria-selected="false">Seguidores</a>
          </li>
        </ul>
      </div>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <app-publicacao></app-publicacao>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <app-seguindo></app-seguindo>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <app-seguidores></app-seguidores>
        </div>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-3  col-lg-3 px-0 coluna3 scroll d-lg-block d-md-none "
      style="height: 100vh; overflow: hidden;">
      <app-sidebar-suggested></app-sidebar-suggested>
    </div>
  </div>
</div>