<div class="container-fluid">
  <div class="row">
    <div class="col-2 px-0 ">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-8">
      <div class="container d-flex  flex-column align-items-center py-4  ">
        <div class="form-control rounded-pill px-3 mb-4 w-50">
          <i class="bi bi-search" style="color:#808080;"></i>
          <input type="text" class="font-body-small no-focus-outline" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Nome">
        </div>
        <img src="../../../assets/search.png" class="mt-5" style="width: 40%;" alt="" />
      </div>
    </div>
    <div class="col-2 px-0">
      <app-sidebar-notification></app-sidebar-notification>
    </div>
  </div>
</div>
