<div class="container d-flex flex-column justify-content-center align-items-center ">
  <div class="row px-2 py-4 ">
    <div class="col-6 p-0 d-flex align-items-center justify-content-center">
      <img src="../../../../../assets/bannerLogin.png" height="300px" />
    </div>
    <div class="col-6 pl-5 d-flex flex-column  justify-content-center ">
      <p class="text-center font-body-medium fw-semiBold">Que bom ter você de volta!</p>
      <form class="">
        <div class="form-control rounded-pill px-3 mb-4">
          <i class="bi bi-envelope-fill " style="color:#808080;"></i>
          <input type="email" class="font-body-small no-focus-outline" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Email">
        </div>
        <div class="form-control rounded-pill px-3 mb-4 justify-content-between">
          <i class="bi bi-unlock-fill" style="color:#808080;"></i>
          <input type="email" class="font-body-small no-focus-outline" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Senha">
          <i class="bi bi-eye-fill" style="color:#BACAFF"></i>
        </div>
        <button type="button" (click)="navigationFeed()"
          class="btn btn-outline-primary rounded-pill button border-custom px-5 font-body-small fw-bolder w-100 btn-hover">
          Entrar
        </button>
        <p class="text-center font-body-small mt-4 label ">Não possui uma conta? <a (click)="navigation()"
            class="color-font">Cadastre-se</a>.
        </p>
      </form>
    </div>
  </div>








</div>
