<div class="container d-flex  flex-column align-items-center py-4  ">
  <div class="card-post p-3 bg-white mb-4">
    <div class="d-flex align-items-center mb-2">
      <div class="d-flex justify-content-center align-items-center rounded-circle icon mx-2">
        <img src="../../../assets/avatar.png" class="rounded-circle" alt="Imagem Perfil" width="30px" />
      </div>
      <span class="font-body-small fw-bold">Luana Santana</span>
    </div>
    <img src="../../../assets/card.png " class="rounded w-100 mb-2 border border-secondary" alt="Imagem Perfil" />
    <p class="font-body-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tristique est
      risus, at suscipit tellus
      commodo in.</p>
    <a class="font-body-xsmall fw-bold " style="text-decoration: underline;">Ver todos os 24 comentários</a>
    <div class="form-control rounded-pill d-flex mt-3 justify-content-between">
      <input type="text" class="font-body-small no-focus-outline" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Comente">
      <i class="bi bi-send-fill" style="color:#BACAFF"></i>
    </div>
  </div>
</div>