<div class="container d-flex flex-column align-items-center pb-4">
  <div class="container d-flex flex-column align-items-center">
    <div class="container-seguidores">
      <div class="form-control rounded-pill px-3 mb-4 d-flex justify-content-start w-100">
        <i class="bi bi-search"></i>
        <input type="text" class="font-body-small no-focus-outline" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Buscar Pessoa">
      </div>
      <p class="font-body-xsmall w-100">Seus seguidores (200):</p>
      <div class="row">
        <div class="col-lg-4 col-md-6 p-0 ">
          <div class="mb-3 py-3 card ">
            <div class="d-flex flex-column align-items-center mb-2 justify-content-start mb-2" style="gap:10px">
              <div class=" d-flex rounded-circle icon">
                <img src="../../../assets/avatar3.png" class="rounded-circle image" alt="Imagem Perfil" />
              </div>
              <span class="font-body-xsmall ">Marcos Medeiros</span>
              <span class="font-body-xxsmall ">Segue de volta.</span>
            </div>
            <div class="d-flex justify-content-center">
              <button
                class="btn border-custom rounded-pill font-label fw-bolder w-50 btn-primary btn-border">Seguir</button>
            </div>

          </div>
        </div>
        <div class="col-lg-4 col-md-6 p-0">
          <div class="mb-3 py-3 card ">
            <div class="d-flex flex-column align-items-center mb-2 justify-content-start mb-2" style="gap:10px">
              <div class=" d-flex rounded-circle icon">
                <img src="../../../assets/avatar3.png" class="rounded-circle image" alt="Imagem Perfil" />
              </div>
              <span class="font-body-xsmall ">Marcos Medeiros</span>
              <span class="font-body-xxsmall ">Segue de volta.</span>
            </div>
            <div class="d-flex justify-content-center">
              <button
                class="btn border-custom rounded-pill font-label fw-bolder w-50 btn-border btn-primary btn-border">Seguir</button>
            </div>

          </div>
        </div>
        <div class="col-lg-4 col-md-6 p-0">
          <div class="mb-3 py-3 card ">
            <div class="d-flex flex-column align-items-center mb-2 justify-content-start mb-2" style="gap:10px">
              <div class=" d-flex rounded-circle icon">
                <img src="../../../assets/avatar3.png" class="rounded-circle image" alt="Imagem Perfil" />
              </div>
              <span class="font-body-xsmall ">Marcos Medeiros</span>
              <span class="font-body-xxsmall ">Segue de volta.</span>
            </div>
            <div class="d-flex justify-content-center">
              <button
                class="btn border-custom rounded-pill font-label fw-bolder w-50 btn-primary btn-border">Seguir</button>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>