input {
  border: none;
  margin-left: 10px;
  color:#808080;
  font-size: 14px;
}

.card{
  background: #F1F4FF;
  border-radius: 1rem;
  width: 90%;
  border: 1px solid #808080;
}

.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon{
  width:4.18rem;
  height:4.18rem;
}

@media (min-width: 1300px) {
  .container-seguidores {
    width: 65% !important;
  }
}
@media (max-width: 1271px) {
  .container-seguidores {
    width: 75% !important;
  }
}
@media (max-width: 1270px) {
 .container-seguidores {
    width: 95% !important;
  }
}

.btn-primary {
  background-color: #7696FF;

}
.btn:hover{
  color:#1a1a1a;
}
.btn-border:hover{
   border: 1px solid #1a1a1a;
   color:#1a1a1a;
}
