<div class="container-fluid d-lg-block d-md-block d-sm-none d-none">
  <div class="row">
    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-4 px-0 " style="height: 100vh; overflow: hidden;">
      <app-sidebar-nav></app-sidebar-nav>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-8 col-sm-8  c-12 scrollable" style="height: 100vh;">
      <app-post></app-post>
      <app-card></app-card>
    </div>
    <div class="col-xxl-3 col-xl-3  col-lg-3 px-0 coluna3 scroll d-lg-block d-md-none d-sm-none d-none "
      style="height: 100vh; overflow: hidden;">
      <app-sidebar-suggested></app-sidebar-suggested>
    </div>
  </div>
</div>

<div class="d-lg-none d-md-none d-sm-block d-block p-3 ">
  <p class="font-title-small fw-bolder fst-italic">Olá</p>
  <div class="feed">
    <div class="w-100 px-3 py-3 bg-white card ">
      <div class="d-flex  align-items-center mb-2">
        <div class="d-flex justify-content-center align-items-center rounded-circle icon mx-2">
          <img src="../../../../assets/avatar.png" class="rounded-circle" alt="Imagem Perfil" width="30px" />
        </div>
        <span class="font-body-small fw-bold">Luana Santana</span>
      </div>
      <img src="../../../../assets/card.png " class="rounded w-100 mb-2 border border-secondary" alt="Imagem Perfil" />
      <p class="font-body-xsmall">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tristique est
        risus, at suscipit tellus
        commodo in.</p>
      <a class="font-body-xsmall fw-bold " style="text-decoration: underline;">Ver todos os 24 comentários</a>
      <div class="form-control rounded-pill  d-flex mt-3 justify-content-between">
        <input type="text" class="font-body-small no-focus-outline" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Comente">
        <i class="bi bi-send-fill" style="color:#BACAFF"></i>
      </div>
    </div>
  </div>

  <nav class="navbar fixed-bottom ">
    <div class="container-fluid">
      <ul class="w-100 d-flex  justify-content-between p-0 navbar mb-0">
        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex justify-content-center align-items-center rounded-circle container-icon mx-2">
              <i class="bi bi-house-door-fill"></i>
            </div>
            <span>Início</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="./search">
            <div class="d-flex justify-content-center align-items-center rounded-circle container-icon mx-2">
              <i class="bi bi-search"></i>
            </div>
            <span>Busca</span>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link d-flex flex-column align-items-center" href="./notification">
            <div class="d-flex justify-content-center align-items-center rounded-circle container-icon mx-2">
              <i class="bi bi-bell-fill"></i>
            </div>
            <span>Notificações</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="./perfil">
            <div class="d-flex justify-content-center align-items-center rounded-circle container-icon mx-2">
              <img src="../../../assets/avatar.png" class="rounded-circle" alt="Imagem Perfil" width="30px" />
            </div>
            <span>Voce</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>