<div class="menu flex-column nav py-4 px-4 justify-content-between position-fixed">
  <div class="">
    <a class="navbar-brand" href="#">
      <p class="font-title-small fw-bolder fst-italic">Conexia</p>
    </a>
    <app-button></app-button>
  </div>
  <div class="d-flex justify-content-center ">
    <a class="nav-link px-2 py-2 rounded-pill d-flex align-items-center   font-body-small fw-bolder" href="#"
      style="gap:10px">
      <i class="bi bi-box-arrow-right"></i>
      <span class="">Sair</span>
    </a>
  </div>
</div>
