<section>
  <p class=" text-center fst-italic fw-bolder font-title-small py-3">Com a Conexia Você Vai</p>
  <div class="container ">
    <div class="row" style="grid-row-gap: 15px;">
      <div class="col-lg-3 col-md-6 col-12 ">
        <div class="card d-flex flex-column justify-content-center align-items-center ">
          <img src="../../../../../assets/smiley-face.png" width="50px" />
          <p class="text-center fw-bolder font-body-small mb-0">Fazer novas Amizades</p>
          <p class="text-center">Conecta-se com pessoas que compartilham os mesmo interesses que você.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="card d-flex flex-column justify-content-center align-items-center ">
          <img src="../../../../../assets/chat-text.png" width="50px" />
          <p class="text-center fw-bolder font-body-small mb-0">Se Expressar</p>
          <p class="text-center">Conecta-se com pessoas que compartilham os mesmo interesses que você.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="card d-flex flex-column justify-content-center align-items-center ">
          <img src="../../../../../assets/star.png" width="50px" />
          <p class="text-center fw-bolder font-body-small mb-0">Ser Popular na sua Comunidade</p>
          <p class="text-center">Conheça e participe de eventos e atividades locais que talvez não soubesse
            anteriormente.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="card d-flex flex-column justify-content-center align-items-center ">
          <img src="../../../../../assets/dashed-arrow.png" width="50px" />
          <p class="text-center fw-bolder font-body-small mb-0">Ampliar sua Rede de Contatos</p>
          <p class="text-center">Descubra de novas oportunidades, sejam elas pessoais ou profissionais.</p>
        </div>
      </div>
    </div>
  </div>
  <p class=" text-center fst-italic fw-bolder font-title-small pt-5 pb-2">Tá esperando o quê?<br>Venha fazer parte dessa
    comunidade!</p>
  <div class="d-flex flex-column justify-content-center align-items-center ">
    <img src="../../../../../assets/Hearts.png" />
  </div>
</section>