.menu{
  height: 100vh;
  background-color: #fff;
  background: #FFFFFF;
  border: 0.5px solid #1a1a1a6e;
  border-top: none;

}

@media (min-width: 1300px) {
  .menu {
    width: 75% !important;
    padding-left: 10%;
    align-items: start !important;
  }
}
@media (max-width: 1299px) {
  .menu {
    width: 85% !important;
    align-items: center !important;
  }
}
@media (max-width: 1083px) {
  .menu {
    width: 100% !important;
    align-items: center !important;
  }
}

