<div class="row mb-4" style="grid-row-gap: 15px;">
  <div
    class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center order-lg-1 order-md-1 order-sm-2 order-2 containe-grid-text">
    <div class="justify-content-center  container-text">
      <p class="font-title-large d-lg-block d-md-block d-sm-none d-none">Conecte-se com o Mundo Através da <span
          class="color-font">Conexia</span> </p>
      <p class="font-body-large body-weight subtitle">Conheça pessoas incríveis que moram próximas a você, mas que ainda
        não
        teve a
        chance de
        conhecer.</p>
      <button type="button" (click)="navigation()"
        class="btn btn-outline-primary rounded-pill button border-custom px-5 font-body-small fw-bolder w-75 btn-hover">Cadastre-se</button>
      <p class="d-lg-none d-md-none d-sm-block d-block text-center font-body-small mt-4 label">Já possui conta? <a
          class="color-font" href="./login">Faça
          Login</a>.
      </p>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 order-lg-2 order-md-2 order-sm-1 order-1">
    <div class="d-flex container-fluid  container-img">
      <img src="../../../../../assets/banner.png" height="500px" />
    </div>
  </div>
</div>