<div class="row">
  <div class="col-sm-6 d-flex align-items-center">
    <div class="justify-content-center  w-75">
      <p class="font-title-large">Conecte-se com o Mundo Através da <span style="color:#7696FF">Conexia</span> </p>
      <p class="font-body-large body-weight">Conheça pessoas incríveis que moram próximas a você, mas que ainda não
        teve a
        chance de
        conhecer.</p>
      <button type="button"
        class="btn btn-outline-primary rounded-pill button border-custom px-5 font-body-small fw-bolder w-75">Cadastre-se</button>
    </div>
  </div>
  <div class="col-6 ">
    <div class="d-flex container-fluid  justify-content-end">
      <img src="../../../../../assets/banner.png" height="500px" />
    </div>
  </div>
</div>
