.nav-item {
  border-radius: 40px;
  width: 85%;
}
.nav-item:hover {
  background: #BACAFF;
  color: #1a1a1a;
}

.nav-item span{
  color: #808080;
}

.container-icon {
  width: 40px;
  height: 40px;
  background: #D6DFFF !important;
  color:#91ABFF
}

.active {
  background: #BACAFF !important;
  color: #1a1a1a !important;
}
.active span{
  color: #1a1a1a ;
  font-weight: 600;
}
.active .container-icon {
  background: #91ABFF !important;
  color: #1a1a1a  ;
}

