
.card-follow {
  background: #F1F4FF;
  border-radius: 1rem;
  width: 12.5rem;
  border: 1px solid #808080;
}

.icon{
  width:2.18rem;
  height:2.18rem;
  background: #D6DFFF;
}

.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.font-body-xsmall{
  font-weight: 500;
}

.btn:hover{
  background: #BACAFF !important;
  color:#1a1a1a;
}
.btn-border:hover{
   border: 1px solid #1a1a1a;
}
