
<div class="container pt-3 px-0  d-flex">
  <button class="rounded-circle bg-light border-0 button-back" (click)="goBack()">
    <i class="bi bi-arrow-left"></i>
  </button>
  <p class="font-body-extra-large fw-semiBold">Cadastro</p>
</div>
<div class="container  d-flex" style="gap: 10px;">
  <p class="font-body-medium fw-bolder mr-2">Geral</p>
  <p class="font-body-medium fw-bolder mr-2"> > </p>
  <p class="font-body-medium ">Sobre</p>
</div>

<div class="container d-flex flex-column justify-content-center align-items-center ">
  <div class="formulario  d-flex flex-column py-4 justify-content-center align-items-center">
    <p class=" text-center font-body-medium fw-semiBold">Vamos começar pelo básico:</p>
    <form class="w-50" [formGroup]="formulario">
      <div class="form-control rounded-pill px-3 mb-3  d-flex justify-content-start" style="gap:5px">
        <i class="bi bi-envelope-fill " style="color:#808080;"></i>
        <input type="email" class="font-body-small no-focus-outline" formControlName="email" id="exampleInputEmail1"
          aria-describedby="emailHelp" placeholder="Email">
      </div>
      <div class="form-control rounded-pill px-3 mb-3  d-flex justify-content-between">
        <div class="d-flex" style="gap:5px">
          <i class="bi bi-unlock-fill" style="color:#808080;"></i>
          <input type="email" class="font-body-small no-focus-outline" formControlName="senha" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Senha">
        </div>
        <i class="bi bi-eye-fill" style="color:#BACAFF"></i>
      </div>
      <div class="form-control rounded-pill px-3 mb-3  d-flex justify-content-between">
        <div class="d-flex" style="gap:5px">
          <i class="bi bi-unlock-fill" style="color:#808080;"></i>
          <input type="email" class="font-body-small no-focus-outline" formControlName="confirm" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Repetir senha">
        </div>

        <i class="bi bi-eye-fill" style="color:#BACAFF"></i>
      </div>
      <p class="font-body-small mt-4 label">Escolha uma cor para o seu perfil:
      </p>
      <div class="d-flex mb-3 mt-2" style="gap:10px">
        <button type="button" class="rounded border-0 thema-color-secondary p-3 "></button>
        <button type="button" class="rounded border-0 thema-color-pink p-3 "></button>
        <button type="button" class="rounded border-custom thema-color-success p-3 "></button>
        <button type="button" class="rounded border-0 thema-color-primary p-3 "></button>
      </div>

      <button type="button" (click)="salvarEtapa1()" [disabled]="!formulario.valid"
        class="btn btn-outline-primary rounded-pill button border-custom px-5 font-body-small fw-bolder w-100 btn-hover">
        Continuar
      </button>
      <p class="text-center font-body-small mt-4 label">Já possui conta? <a class="color-font"
          (click)="navigation()">Faça Login</a>.
      </p>
    </form>
  </div>
</div>
